Garagem/MyUtil/Z-Proj-K-old/Web References/pt.mcdonalds.portugal/mcdonalds_svc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCities">
        <s:complexType />
      </s:element>
      <s:element name="GetCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="distrito" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="playland" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="fraldario" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="festas" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="mcdrive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchRestaurantResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllRestaurants">
        <s:complexType />
      </s:element>
      <s:element name="GetAllRestaurantsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRestaurantsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRestaurantResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaContacto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="restaurante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaContactoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviaContactoResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dados" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MailFranchising">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="morada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cp1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cp2" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="localidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ocupacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telemovel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataNascimento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MailFranchisingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MailFranchisingResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordContactoChat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pergunta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="receberEmail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordContactoChatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecordContactoChatResult" type="tns:ResultRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Result" type="tns:Result" />
      <s:element name="ResultRecord" type="tns:ResultRecord" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="SearchRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:SearchRestaurant" />
  </wsdl:message>
  <wsdl:message name="SearchRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:SearchRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllRestaurantsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRestaurants" />
  </wsdl:message>
  <wsdl:message name="GetAllRestaurantsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:GetRestaurant" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:GetRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="EnviaContactoSoapIn">
    <wsdl:part name="parameters" element="tns:EnviaContacto" />
  </wsdl:message>
  <wsdl:message name="EnviaContactoSoapOut">
    <wsdl:part name="parameters" element="tns:EnviaContactoResponse" />
  </wsdl:message>
  <wsdl:message name="MailFranchisingSoapIn">
    <wsdl:part name="parameters" element="tns:MailFranchising" />
  </wsdl:message>
  <wsdl:message name="MailFranchisingSoapOut">
    <wsdl:part name="parameters" element="tns:MailFranchisingResponse" />
  </wsdl:message>
  <wsdl:message name="RecordContactoChatSoapIn">
    <wsdl:part name="parameters" element="tns:RecordContactoChat" />
  </wsdl:message>
  <wsdl:message name="RecordContactoChatSoapOut">
    <wsdl:part name="parameters" element="tns:RecordContactoChatResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitiesHttpGetIn" />
  <wsdl:message name="GetCitiesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SearchRestaurantHttpGetIn">
    <wsdl:part name="distrito" type="s:string" />
    <wsdl:part name="playland" type="s:string" />
    <wsdl:part name="fraldario" type="s:string" />
    <wsdl:part name="festas" type="s:string" />
    <wsdl:part name="mcdrive" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchRestaurantHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllRestaurantsHttpGetIn" />
  <wsdl:message name="GetAllRestaurantsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="EnviaContactoHttpGetIn">
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="restaurante" type="s:string" />
    <wsdl:part name="assunto" type="s:string" />
    <wsdl:part name="mensagem" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviaContactoHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="MailFranchisingHttpGetIn">
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="morada" type="s:string" />
    <wsdl:part name="cp1" type="s:string" />
    <wsdl:part name="cp2" type="s:string" />
    <wsdl:part name="localidade" type="s:string" />
    <wsdl:part name="sexo" type="s:string" />
    <wsdl:part name="ocupacao" type="s:string" />
    <wsdl:part name="telemovel" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="dataNascimento" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MailFranchisingHttpGetOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="RecordContactoChatHttpGetIn">
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="pergunta" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="receberEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecordContactoChatHttpGetOut">
    <wsdl:part name="Body" element="tns:ResultRecord" />
  </wsdl:message>
  <wsdl:message name="GetCitiesHttpPostIn" />
  <wsdl:message name="GetCitiesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SearchRestaurantHttpPostIn">
    <wsdl:part name="distrito" type="s:string" />
    <wsdl:part name="playland" type="s:string" />
    <wsdl:part name="fraldario" type="s:string" />
    <wsdl:part name="festas" type="s:string" />
    <wsdl:part name="mcdrive" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchRestaurantHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllRestaurantsHttpPostIn" />
  <wsdl:message name="GetAllRestaurantsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="EnviaContactoHttpPostIn">
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="telefone" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="restaurante" type="s:string" />
    <wsdl:part name="assunto" type="s:string" />
    <wsdl:part name="mensagem" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviaContactoHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="MailFranchisingHttpPostIn">
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="morada" type="s:string" />
    <wsdl:part name="cp1" type="s:string" />
    <wsdl:part name="cp2" type="s:string" />
    <wsdl:part name="localidade" type="s:string" />
    <wsdl:part name="sexo" type="s:string" />
    <wsdl:part name="ocupacao" type="s:string" />
    <wsdl:part name="telemovel" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="dataNascimento" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MailFranchisingHttpPostOut">
    <wsdl:part name="Body" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="RecordContactoChatHttpPostIn">
    <wsdl:part name="nome" type="s:string" />
    <wsdl:part name="pergunta" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="receberEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecordContactoChatHttpPostOut">
    <wsdl:part name="Body" element="tns:ResultRecord" />
  </wsdl:message>
  <wsdl:portType name="mcdonalds_svcSoap">
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesSoapIn" />
      <wsdl:output message="tns:GetCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchRestaurant">
      <wsdl:input message="tns:SearchRestaurantSoapIn" />
      <wsdl:output message="tns:SearchRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <wsdl:input message="tns:GetAllRestaurantsSoapIn" />
      <wsdl:output message="tns:GetAllRestaurantsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <wsdl:input message="tns:GetRestaurantSoapIn" />
      <wsdl:output message="tns:GetRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaContacto">
      <wsdl:input message="tns:EnviaContactoSoapIn" />
      <wsdl:output message="tns:EnviaContactoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MailFranchising">
      <wsdl:input message="tns:MailFranchisingSoapIn" />
      <wsdl:output message="tns:MailFranchisingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecordContactoChat">
      <wsdl:input message="tns:RecordContactoChatSoapIn" />
      <wsdl:output message="tns:RecordContactoChatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="mcdonalds_svcHttpGet">
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesHttpGetIn" />
      <wsdl:output message="tns:GetCitiesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchRestaurant">
      <wsdl:input message="tns:SearchRestaurantHttpGetIn" />
      <wsdl:output message="tns:SearchRestaurantHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <wsdl:input message="tns:GetAllRestaurantsHttpGetIn" />
      <wsdl:output message="tns:GetAllRestaurantsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <wsdl:input message="tns:GetRestaurantHttpGetIn" />
      <wsdl:output message="tns:GetRestaurantHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaContacto">
      <wsdl:input message="tns:EnviaContactoHttpGetIn" />
      <wsdl:output message="tns:EnviaContactoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MailFranchising">
      <wsdl:input message="tns:MailFranchisingHttpGetIn" />
      <wsdl:output message="tns:MailFranchisingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RecordContactoChat">
      <wsdl:input message="tns:RecordContactoChatHttpGetIn" />
      <wsdl:output message="tns:RecordContactoChatHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="mcdonalds_svcHttpPost">
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesHttpPostIn" />
      <wsdl:output message="tns:GetCitiesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchRestaurant">
      <wsdl:input message="tns:SearchRestaurantHttpPostIn" />
      <wsdl:output message="tns:SearchRestaurantHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <wsdl:input message="tns:GetAllRestaurantsHttpPostIn" />
      <wsdl:output message="tns:GetAllRestaurantsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <wsdl:input message="tns:GetRestaurantHttpPostIn" />
      <wsdl:output message="tns:GetRestaurantHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaContacto">
      <wsdl:input message="tns:EnviaContactoHttpPostIn" />
      <wsdl:output message="tns:EnviaContactoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MailFranchising">
      <wsdl:input message="tns:MailFranchisingHttpPostIn" />
      <wsdl:output message="tns:MailFranchisingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RecordContactoChat">
      <wsdl:input message="tns:RecordContactoChatHttpPostIn" />
      <wsdl:output message="tns:RecordContactoChatHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mcdonalds_svcSoap" type="tns:mcdonalds_svcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRestaurant">
      <soap:operation soapAction="http://tempuri.org/SearchRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <soap:operation soapAction="http://tempuri.org/GetAllRestaurants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <soap:operation soapAction="http://tempuri.org/GetRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaContacto">
      <soap:operation soapAction="http://tempuri.org/EnviaContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailFranchising">
      <soap:operation soapAction="http://tempuri.org/MailFranchising" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordContactoChat">
      <soap:operation soapAction="http://tempuri.org/RecordContactoChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="mcdonalds_svcSoap12" type="tns:mcdonalds_svcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap12:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRestaurant">
      <soap12:operation soapAction="http://tempuri.org/SearchRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <soap12:operation soapAction="http://tempuri.org/GetAllRestaurants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <soap12:operation soapAction="http://tempuri.org/GetRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaContacto">
      <soap12:operation soapAction="http://tempuri.org/EnviaContacto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailFranchising">
      <soap12:operation soapAction="http://tempuri.org/MailFranchising" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordContactoChat">
      <soap12:operation soapAction="http://tempuri.org/RecordContactoChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="mcdonalds_svcHttpGet" type="tns:mcdonalds_svcHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCities">
      <http:operation location="/GetCities" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRestaurant">
      <http:operation location="/SearchRestaurant" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <http:operation location="/GetAllRestaurants" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <http:operation location="/GetRestaurant" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaContacto">
      <http:operation location="/EnviaContacto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailFranchising">
      <http:operation location="/MailFranchising" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordContactoChat">
      <http:operation location="/RecordContactoChat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="mcdonalds_svcHttpPost" type="tns:mcdonalds_svcHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCities">
      <http:operation location="/GetCities" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRestaurant">
      <http:operation location="/SearchRestaurant" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <http:operation location="/GetAllRestaurants" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <http:operation location="/GetRestaurant" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaContacto">
      <http:operation location="/EnviaContacto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailFranchising">
      <http:operation location="/MailFranchising" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordContactoChat">
      <http:operation location="/RecordContactoChat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mcdonalds_svc">
    <wsdl:port name="mcdonalds_svcSoap" binding="tns:mcdonalds_svcSoap">
      <soap:address location="http://portugal.mcdonalds.pt/mcdonalds_svc.asmx" />
    </wsdl:port>
    <wsdl:port name="mcdonalds_svcSoap12" binding="tns:mcdonalds_svcSoap12">
      <soap12:address location="http://portugal.mcdonalds.pt/mcdonalds_svc.asmx" />
    </wsdl:port>
    <wsdl:port name="mcdonalds_svcHttpGet" binding="tns:mcdonalds_svcHttpGet">
      <http:address location="http://portugal.mcdonalds.pt/mcdonalds_svc.asmx" />
    </wsdl:port>
    <wsdl:port name="mcdonalds_svcHttpPost" binding="tns:mcdonalds_svcHttpPost">
      <http:address location="http://portugal.mcdonalds.pt/mcdonalds_svc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>